{{ define "main" }}
<div class="home h-feed">

  <ul class="post-list max-w-prose mx-auto">
  {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 25) }}
  {{ range $paginator.Pages  }}

  <li class="h-entry">
    <div class="prose dark:prose-invert border-b border-flexoki-dark-ye pb-12 mb-12 mx-4">
    {{ if .Title }}
      <h1 class="p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    {{ end }}

    <div class="e-content">
      {{ .Content }}
    </div>
    &rarr; <a href="{{ .Permalink }}" class="u-url"><span class="post-meta"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time></span></a>
    </div>
      </li>
    {{ end }}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "feed.xml" | absURL }}">via RSS</a></p>

</div>
{{ end }}
